/* reset */
*{
	margin:0;
	padding:0;
}

body{
	font-family: Cursive;
	height: 100%;
	width:100%;
	color: white;
}

#principal{
	width:800px;
	height:655px;
	background:#0094ae;
	margin:auto;
	position:relative;
	z-index:1;
} 

 h1{
	font-size: 40px;
	padding-left: 20px;
	 margin-bottom:5px;
	display:inline-block;
}

.box{ 
	width:900px;
	height: 500px;
	position: absolute;
  left: -80px;
	border: solid black 20px;
	border-radius: 15px; 
	padding:15px; 
} 

.menu{
	background: #a5d6ff;
	padding: 20px;
	margin-top: 30px;
}

.menu button{
	width: 80px;
	height:30px;
	border-radius: 30px;
	margin-right: 10px;
	background: #033771;
	
}

#image{
	float: right;
	margin-top:-80px;
}

img{
	height: 535px;
	
}

#one {
	float:left;
	position:absolute;
	height: 220px;
}

#one p{
	font-size:26px;
	text-align: center;
	padding:20px;
	padding-top: 50px;
	width: 555px;
}

span{
	color:#033771;
	font-weight: bolder;
	font-family: Helvetica;
}

.two{
	background: #033771;
	position: absolute;
	top: 350px;
	z-index:-1;
	width:700px;
	height:220px;
	margin-top: 20px;
	Padding-left: 100px;
}

h2{
	padding: 20px 0 0 50px ;
	font-size: 30px;
	font-Family: Sans-serif;
	color: #ffebd2;
	
}

.p1{
	padding-left:20px;
	font-size:20px;
}

.p2{
	
	font-size:35px;
	font-Family: Arial;
	padding-top: 15px;
}

a{
	background: #a5d6ff;
	border-radius: 5%;
  	color: ##033771;
 	width: 100px;
	height:30px;
  	text-align: center;
  	text-decoration: none;
  	font-size: 26px;
	position: absolute;
	left:428px;
	top: 468px;
}
a:hover{
	background:#ffebd2;
}
